Repository LaurierCS/Pod4, pull requests merged in 2023-10, with the labels that each got.

#6 Setup template React app and add TailwindCSS
  web/meetup-facilitator/.eslintrc.cjs
  web/meetup-facilitator/.gitignore
  web/meetup-facilitator/README.md
  web/meetup-facilitator/index.html
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/postcss.config.js
  web/meetup-facilitator/public/vite.svg
  web/meetup-facilitator/src/App.css
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/assets/react.svg
  web/meetup-facilitator/src/index.css
  web/meetup-facilitator/src/main.jsx
  web/meetup-facilitator/tailwind.config.js
  web/meetup-facilitator/vite.config.js
Labels: Web

#16 Config MySQL DB
  api/.gitignore
  api/README.md
  api/optimeet/db.sqlite3
  api/optimeet/optimeet/settings.py
  api/optimeet/requirements.txt
Labels: API, Infra

#13 Pedro/create groups route
  api/optimeet/groups/__init__.py
  api/optimeet/groups/admin.py
  api/optimeet/groups/apps.py
  api/optimeet/groups/migrations/0001_initial.py
  api/optimeet/groups/migrations/0002_remove_recommendation_group_and_more.py
  api/optimeet/groups/migrations/__init__.py
  api/optimeet/groups/models.py
  api/optimeet/groups/serializers.py
  api/optimeet/groups/tests.py
  api/optimeet/groups/urls.py
  api/optimeet/groups/views.py
  api/optimeet/optimeet/settings.py
  api/optimeet/optimeet/urls.py
Labels: API

#20 create activities route
  api/optimeet/activities/Activities.json
  api/optimeet/activities/__init__.py
  api/optimeet/activities/admin.py
  api/optimeet/activities/apps.py
  api/optimeet/activities/migrations/__init__.py
  api/optimeet/activities/models.py
  api/optimeet/activities/tests.py
  api/optimeet/activities/urls.py
  api/optimeet/activities/views.py
  api/optimeet/optimeet/settings.py
  api/optimeet/optimeet/urls.py
Labels: API
