Repository LaurierCS/Pod4, pull requests merged in 2023-11, with the labels that each got.

#22 Updated `settings.py` to connect to DB using individual params
  api/optimeet/optimeet/settings.py
Labels: API, Infra

#21 Chris/setup react routes
  web/.gitignore
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/src/App.css
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/components/Navbar.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/main.jsx
  web/meetup-facilitator/src/pages/Home.jsx
  web/meetup-facilitator/src/pages/Login.jsx
Labels: Web

#25 Pedro/update group model
  api/optimeet/groups/migrations/0001_initial.py
  api/optimeet/groups/migrations/0002_remove_group_id_alter_group_group_id.py
  api/optimeet/groups/migrations/0002_remove_recommendation_group_and_more.py
  api/optimeet/groups/migrations/0003_alter_group_group_id.py
  api/optimeet/groups/migrations/0004_alter_group_group_id_alter_group_host_id_and_more.py
  api/optimeet/groups/models.py
  api/optimeet/groups/serializers.py
  api/optimeet/groups/views.py
  api/optimeet/optimeet/settings.py
Labels: API

#26 Setup Local DB and Updated READMEs
  .github/workflows/migrate.yml
  .github/workflows/test_migrations.yml
  api/.gitignore
  api/README.md
  api/optimeet/optimeet/settings.py
  web/meetup-facilitator/README.md
Labels: API, Infra

#30 Create get recommendations
  api/optimeet/groups/migrations/0001_initial.py
  api/optimeet/groups/models.py
  api/optimeet/groups/serializers.py
  api/optimeet/groups/urls.py
  api/optimeet/groups/views.py
Labels: API

#33 usergroupsroute
  api/optimeet/groups/migrations/0001_initial.py
  api/optimeet/groups/migrations/0002_rename_groups_usergroup_group_id_and_more.py
  api/optimeet/groups/models.py
  api/optimeet/groups/serializers.py
  api/optimeet/groups/tests.py
  api/optimeet/groups/urls.py
  api/optimeet/groups/views.py
Labels: API

#29 TimeSelectionPage
  web/meetup-facilitator/README.md
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/components/TimeHour.jsx
  web/meetup-facilitator/src/components/TimeMain.jsx
  web/meetup-facilitator/src/pages/Home.jsx
Labels: Web

#37 Chris/create activities page
  api/optimeet/optimeet/settings.py
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/components/Card.jsx
  web/meetup-facilitator/src/components/Navbar.jsx
  web/meetup-facilitator/src/components/PopUp.jsx
  web/meetup-facilitator/src/pages/Activities.jsx
Labels: Web

#28 Locationpage
  web/meetup-facilitator/README.md
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/components/AddressInput.jsx
  web/meetup-facilitator/src/components/ContinuousSlider.jsx
  web/meetup-facilitator/src/components/GoogleMapComponent.jsx
  web/meetup-facilitator/src/components/LocationComponent.jsx
  web/meetup-facilitator/src/pages/Home.jsx
Labels: Web

#39 Create post user preferences
  api/optimeet/groups/models.py
  api/optimeet/groups/serializers.py
  api/optimeet/groups/urls.py
  api/optimeet/groups/views.py
Labels: API

#41 Chris/create preferences page
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/components/LocationComponent.jsx
  web/meetup-facilitator/src/components/Navbar.jsx
  web/meetup-facilitator/src/components/TimeHour.jsx
  web/meetup-facilitator/src/components/TimeMain.jsx
  web/meetup-facilitator/src/pages/Activities.jsx
  web/meetup-facilitator/src/pages/Home.jsx
  web/meetup-facilitator/src/pages/Preferences.jsx
Labels: Web

#43 Chris/create join group
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/pages/Home.jsx
  web/meetup-facilitator/src/pages/Join.jsx
  web/meetup-facilitator/src/pages/Preferences.jsx
Labels: Web

#45 Updated Preferences Model
  api/optimeet/groups/migrations/0004_preferences.py
  api/optimeet/groups/models.py
Labels: API

#51 Call algo from prefs view and remove unused imports
  api/optimeet/groups/views.py
Labels: API

#56 Updated date formats to prefs
  web/meetup-facilitator/src/components/TimeHour.jsx
  web/meetup-facilitator/src/components/TimeMain.jsx
  web/meetup-facilitator/src/pages/Preferences.jsx
Labels: Web
